@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.messiah-selected-quotes {
    @include mix.list-reset;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: var.$desktop-width) {
        display: none;
    }
}

.messiah-selected-quotes__item {
    margin: 0 0 40px;

    @media (min-width: var.$tablet-width) {
        margin: 0 0 60px;
    }
}

.messiah-selected-quotes__item:last-child {
    margin: 0;
}

.messiah__quote {
    margin: 0 auto;
}
