@use "../global/variables.scss" as var;

.logo {
    display: block;
    width: 52px;
    height: 52px;

    transition: filter 0.3s ease-in-out;

    will-change: filter;

    &:hover,
    &:focus-visible {
        filter: drop-shadow(0 0 7px rgba(255, 255, 255, 0.7));
    }

    &:active {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.3));
    }
}
