@use "../global/variables.scss" as var;
@use "../global/mixins.scss" as mix;

.messiah {
    padding: 28px 0 36px;

    @media (min-width: var.$tablet-width) {
        padding: 40px 0 48px;
    }

    @media (min-width: var.$desktop-width) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - (8dvh * 2));
        padding: 28px 0 36px;
    }
}

.messiah__selected-quotes {
    @include mix.list-reset;
}
