$color-basic-blue: #005eb8;
$color-basic-white: #ffffff;
$color-basic-red: #e53935;
$color-alter-red: #6E1423;
$color-basic-black: #000000;
$color-basic-gold: #f5d76e;

$font-quotes: "Cinzel", "Forum", serif;
$font-main-text: "Source Serif 4", serif;
$font-main-text-accented: "Lora", serif;
$font-comments: "Source Sans 3", sans-serif;

$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1199px;
$desktop-width: 1200px;
$max-desktop-width: 1440px;
$max-wide-width: 1920px;
$double-density: 2dppx;
